@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
// @import 'components/header';

@import 'components/header';

//Basic Styling//
@import 'components/basic';

//Home
@import 'components/homepage';
//color

@import 'components/mainColor';




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
    /* border: .1rem solid red; */

}


body {
    background-color: $pure-white;
    color: $lead;
}

/* BASIC STYLING */

