$lead: #212121;
$gold-finger: #f2bd12;
$eye-ball: #fffdf7;
$hint-yellow: #fcf1cc;
$pure-white: #ffffff;



// $lead: #212121;       // Dark gray (keep for text)
// $ocean-blue: #0078D4; // Main blue (logo + buttons + links)
// $eye-ball: #fffdf7;   // Soft white (background)
// $sky-blue: #E6F2FF;   // Light blue (cards / sections)
// $pure-white: #ffffff; // Pure white (clean backgrounds)

