$Heading:#000;   //Clear and readable
$Paragraph:#333333; //Easy on the eyes for reading
$Background:#fff;  //Clean, makes products stand out
$Card:#F5F5F5;  //Soft separation for product cards or sections
$PrimaryBtn:#1E90FF; //Matches logo, for “Shop Now”, “Add to Cart”
$btnText:#fff;  //High contrast for readability
$Hover:#FFD700; //For highlights, promotions, hover effects
$sortBG:#FFC0CB; //Elegant touch for banners or hero section



