
/* MEDIA QUERIES */
@media screen and (max-width: 780px) {

    /* HEADER STYLING */

    .navlist,
    .cart-icon,
    // .img,
    .desktop-action .btn {
        display: none;
    }

    .desktop-action .hamburger {
        display: block;
    }

    .navbar .navlist {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.7rem !important;
        position: absolute;
        width: 150px;
        top: 0;
        right: 0;
        padding: 5rem 1.5rem;
        box-shadow: 0 2px 2px rgba(0, 0 , 0, 0.5);
        backdrop-filter: blur(8px);

    }
    .navbar .navlist.active{
        display: flex;
    }
    .navbar-toggle {
        display: block;
        z-index: 999;

    }
    .navbar-toggle.active .bar:nth-child(2) {
        opacity: 0;
    }
    .navbar-toggle.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .navbar-toggle.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }



    /* SECTION STYLING */



    /* HERO STYLING */

    h1 {
        font-size: 3.6rem;
    }

    .content {
        padding-top: 3rem;
    }

    .gap-2 {
        gap: 1.4rem;
    }

    .gap-4 {
        gap: 4rem;
    }

    /* SECTION 01 */
    h2 {
        font-size: 3rem;
    }
    /* SECTION 04 */
    .app-container{
        padding: 2.2rem;
    }
    .app-container .content h2{
        font-size: 3.5rem;
    }



}