.bg-service {
    background: $eye-ball;

}

.bg-cart {
    background: $pure-white;
    padding: 2rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: .5s ease;
}
.bg-cart:hover{
    transform: translateY(-12px);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 15px 10px -10px;
    text-decoration: underline gray;
}
.size-icon {
    font-size: 5rem;
}

.pd {
    padding: 2rem 3rem;
    font-size: 2rem;
}

.iconI {
    font-size: 4rem;
    color: $gold-finger;
    height: auto;
    margin: auto;
    display: block;
}
