.top-cart {
    // flex: 1;
    background: $pure-white;
    height: 500px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
}
.top-img img{
    width: 350px;
}
.top-img .gucci{
    width: 300px;

}

.bg-topFour {
    background: $hint-yellow;
    font-size: 2rem;
}
.size-h2{
    font-size: 2rem;
}

.line a{
    text-decoration:underline;
    font-size: 1rem;
}
.mt-44{
    margin-top: 4rem;
}