.top-cart {
    // flex: 1;
    background: $pure-white;
    height: 500px;
    width: 70%;
    justify-self: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
}

.top-img{
    overflow: hidden;
    border-radius: 5px;
    cursor: pointer;
}
.top-img img{
    object-fit: cover;
    transition: 1s ease;
    width: 350px;
}
.top-img img:hover{
    transform:scale(1.2) ;
}
.top-img .gucci{
    width: 300px;

}

.bg-topFour {
    background: $hint-yellow;
    font-size: 2rem;
}
.size-h2{
    font-size: 2rem;
}

.line a{
    text-decoration:underline;
    font-size: 1rem;
}
.mt-44{
    margin-top: 4rem;
}